// ==========================================================================
// Mixin for clearfix
// More: http://blog.teamtreehouse.com/a-better-clearfix-with-sass
// ==========================================================================

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
