// ==========================================================================
// Variables for fonts
// ==========================================================================

$font__size--alpha: 36 !default;
$font__size--beta: 30 !default;
$font__size--gamma: 24 !default;
$font__size--delta: 15 !default;
