// ==========================================================================
// Variables for colors
// ==========================================================================

$color--base: #333333 !default;
$color--alpha: #990000 !default;
$color--beta: #990000 !default;
$color--gamma: #333333 !default;
$color--delta: #333333 !default;
