<h2>Fonts Icons</h2>
<p class="social-icons">
  <a class="icon-font icon-font-facebook" href="https://www.facebook.com/vigetlabs">
  </a>
  <a class="icon-font icon-font-twitter" href="https://twitter.com/viget">
  </a>
  <a class="icon-font icon-font-linkedin" href="https://www.linkedin.com/company/39826">
  </a>
</p>

<h2>Sprites Icons</h2>
<p class="social-icons">
  <a class="icon-sprite icon-sprite-facebook" href="https://www.facebook.com/vigetlabs">
  </a>
  <a class="icon-sprite icon-sprite-twitter" href="https://twitter.com/viget">
  </a>
  <a class="icon-sprite icon-sprite-linkedin" href="https://www.linkedin.com/company/39826">
  </a>
</p>
