// ==========================================================================
// Variables: Base
// ==========================================================================

// Typography

$base-font-family: $helvetica !default;
$heading-font-family: $georgia !default;

// Size

$base-font-size: 14;
$base-font-small: rem($base-font-size * .075) !default;
$base-font-base: rem($base-font-size * 1) !default;
$base-font-medium: rem($base-font-size * 1.25) !default;
$base-font-large: rem($base-font-size * 1.5) !default;
$base-font-xlarge: rem($base-font-size * 1.75) !default;
$base-font-xxlarge: rem($base-font-size * 2) !default;
$base-font-huge: rem($base-font-size * 2.25) !default;

// Line height

$base-line-height: 1.4 !default;
$base-spacing: rem($base-line-height * 10) !default;
$small-spacing: $base-spacing / 2;
$heading-line-height: 1.2 !default;

// Other sizes

$base-border-radius: 3px !default;


// Background Color

$base-background-color: $color-white !default;


// Font Colors

$base-font-color: $color-mako !default;
$heading-font-color: $color-mako !default;

// Link Colors

$base-link-color: $color-grey !default;
$base-link-color-active: $color-black !default;
$base-link-color-hover: $color-black !default;

// Border Colors
$base-border-color: $color-munsell !default;


// Container
$base-container-width: rem(1024) !default;
