// ==========================================================================
// Variables: Colors
// ==========================================================================

// white
$color-white: #FFFFFF !default;
$color-zircon: #F4F8FF !default;
$color-seashell: #F1F1F1 !default;
$color-desert-storm: #F8F8F8 !default;

// black
$color-black: #000000 !default;
$color-mako: #484C51 !default;

// grey
$color-start-dust: #9B9B9B !default;
$color-iron: #D3D5D8 !default;
$color-gainsboro: #DFDFDF !default;

// green
$color-de-york: #76C778 !default;
$color-lime-green: #2ACC41 !default;
$color-green: #6FAB2D !default;
$color-celadon-green: #ABE7AD !default;

// blue
$color-astral: #2F70B2 !default;
$color-picton-blue: #3F9FFF !default;
$color-malibu: #80C0FF !default;
$color-pattens-blue: #D9ECFF !default;

// red
$color-sunglo: #DD6B6B !default;
$color-light-pink: #FCBCBD !default;
$color-roman: #DC6565 !default;
$color-coral-pink: #FB8080 !default;
$color-persimmon:  #FF6158 !default;

// purple
$color-hawkes-blue: #D6DEFF !default;
$color-pale-lavender: #E5D6FF !default;

// yellow
$color-saffron: #FFBD2D !default;
$color-hampton: #E7D8AB !default;
