// ==========================================================================
// Variables: Neat
// ==========================================================================

@import "variables";

$max-width: $base-container-width;
$visual-grid: false; // true : false
$visual-grid-color: lightblue;
$visual-grid-index: back; // front : back
$border-box-sizing: false;
