// ==========================================================================
// Variables: Path to assets
// ==========================================================================

// Assets

$path-assets: "";

// Images

$path-images: "#{$path-assets}";
$path-icons: "#{$path-assets}/icons/";
$path-ui: "#{$path-assets}/ui/";

// Fonts

$path-fonts: "#{$path-assets}/fonts/";

// Fonts Icons
$path-icomoon: "#{$path-fonts}/icomoon/";
