// ==========================================================================
// Variables: Path to assets
// ==========================================================================

// Assets

$path-assets: "../../../app/assets/";

// Images

$path-images: "#{$path-assets}images/";
$path-icons: "#{$path-assets}icons/";
$path-ui: "#{$path-images}ui/";

// Fonts

$path-fonts: "#{$path-assets}fonts/";

// Fonts Icons
$path-icomoon: "#{$path-assets}fonts/icomoon/fonts/";
$path-fontello: "#{$path-fonts}fontello/font/";
