// ==========================================================================
// Header
// ==========================================================================

.header {
  background: $base-background-color;
  @include outer-container(100%);
  @include position(relative, null);
  @include size(100% rem(100));
  @include root(ie) {
    @include size(100% rem(100));
  }

    &__container {
      @include position(relative);
    }

      &__collection {
        @include position(relative);
        @include span-columns(6);
      }

        &__item {
          @include position(relative);
          @include span-columns(3);
        }

          &__link {
            color: $base-link-color;
            font-size: rem(14);
            @include transition(color 300ms ease-in-out);
            &:hover {
              color: $base-link-color;
            }
          }
}
