/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$facebook-name: 'facebook';
$facebook-x: 0px;
$facebook-y: 0px;
$facebook-offset-x: 0px;
$facebook-offset-y: 0px;
$facebook-width: 16px;
$facebook-height: 16px;
$facebook-total-width: 130px;
$facebook-total-height: 51px;
$facebook-image: '../sprites/sprite.png';
$facebook: (0px, 0px, 0px, 0px, 16px, 16px, 130px, 51px, '../sprites/sprite.png', 'facebook', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 17px;
$logo-offset-x: 0px;
$logo-offset-y: -17px;
$logo-width: 130px;
$logo-height: 34px;
$logo-total-width: 130px;
$logo-total-height: 51px;
$logo-image: '../sprites/sprite.png';
$logo: (0px, 17px, 0px, -17px, 130px, 34px, 130px, 51px, '../sprites/sprite.png', 'logo', );
      $facebook-2x-name: 'facebook-2x';
      $facebook-2x-x: 0px;
      $facebook-2x-y: 0px;
      $facebook-2x-offset-x: 0px;
      $facebook-2x-offset-y: 0px;
      $facebook-2x-width: 32px;
      $facebook-2x-height: 32px;
      $facebook-2x-total-width: 260px;
      $facebook-2x-total-height: 102px;
      $facebook-2x-image: '../sprites/sprite-2x.png';
      $facebook-2x: (0px, 0px, 0px, 0px, 32px, 32px, 260px, 102px, '../sprites/sprite-2x.png', 'facebook-2x', );
      $logo-2x-name: 'logo-2x';
      $logo-2x-x: 0px;
      $logo-2x-y: 34px;
      $logo-2x-offset-x: 0px;
      $logo-2x-offset-y: -34px;
      $logo-2x-width: 260px;
      $logo-2x-height: 68px;
      $logo-2x-total-width: 260px;
      $logo-2x-total-height: 102px;
      $logo-2x-image: '../sprites/sprite-2x.png';
      $logo-2x: (0px, 34px, 0px, -34px, 260px, 68px, 260px, 102px, '../sprites/sprite-2x.png', 'logo-2x', );
$spritesheet-width: 130px;
$spritesheet-height: 51px;
$spritesheet-image: '../sprites/sprite.png';
$spritesheet-sprites: ($facebook, $logo, );
$spritesheet: (130px, 51px, '../sprites/sprite.png', $spritesheet-sprites, );
    $retina-spritesheet-width: 260px;
    $retina-spritesheet-height: 102px;
    $retina-spritesheet-image: '../sprites/sprite-2x.png';
    $retina-spritesheet-sprites: ($facebook-2x, $logo-2x, );
    $retina-spritesheet: (260px, 102px, '../sprites/sprite-2x.png', $retina-spritesheet-sprites, );

    /*
    These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

    The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
    */
      $facebook-group-name: 'facebook';
      $facebook-group: ('facebook', $facebook, $facebook-2x, );
      $logo-group-name: 'logo';
      $logo-group: ('logo', $logo, $logo-2x, );
    $retina-groups: ($facebook-group, $logo-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

      /*
      The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
      It should be used with a "retina group" variable.

      The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

      $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

      .icon-home {
        @include retina-sprite($icon-home-group);
      }
      */
      @mixin sprite-background-size($sprite) {
        $sprite-total-width: nth($sprite, 7);
        $sprite-total-height: nth($sprite, 8);
        background-size: $sprite-total-width $sprite-total-height;
      }

      @mixin retina-sprite($retina-group) {
        $normal-sprite: nth($retina-group, 2);
        $retina-sprite: nth($retina-group, 3);
        @include sprite($normal-sprite);

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          @include sprite-image($retina-sprite);
          @include sprite-background-size($normal-sprite);
        }
      }

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

    /*
      The `retina-sprites` mixin generates a CSS rule and media query for retina groups
      This yields the same output as CSS retina template but can be overridden in SCSS

      @include retina-sprites($retina-groups);
    */
    @mixin retina-sprites($retina-groups) {
      @each $retina-group in $retina-groups {
        $sprite-name: nth($retina-group, 1);
        .icon-sprite-#{$sprite-name} {
          @include retina-sprite($retina-group);
        }
      }
    }
    @include retina-sprites($retina-groups);
