// ==========================================================================
// Base
// ==========================================================================

html {
  min-height: 100%;
  position: relative;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: inherit !important;
  margin-bottom: 60px;
}
